@model Boardium.Models.Game.Game

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayingTimeMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayingTimeMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-area="Admin" asp-action="Index">Back to List</a>
</div>
</body>
</html>
